#map{
    width: 100%;
}

.instrumentacion{
    position:relative;
    height: 0px;
    overflow: visible;
    z-index: 9999;
}

.instrumentacion .boton{
    position: relative;
    left: 10px;
    display: block;
}