	html{
				
	}	

	body {
		max-width: 100%;
		overflow: hidden;
		background: rgb(164,192,12);

	    -webkit-transition: background-color 1s;
   		-moz-transition: background-color 1s;
    	-o-transition: background-color 1s;
        transition: background-color 1s;

	}

	body.faded {
		background-color: #fff;
	}





	#bus {
		position: absolute;
		bottom: 50%;
		left: -100px;
		width: 200px;
		height: 90px;



		background: url("../image/zk6858-lateral.png") no-repeat;
		background-size: 200px auto;

	}


	#corredor {

		position: absolute;
		bottom: 50%;

		height: 34px;
		width: 34px;



		left: -50px;

		border: 1px solid transparent;

		background: url("../image/runningSeo1.png") no-repeat;
		background-size: 204px auto;
		background-position: -146px 0px;

	}

	#str span {
		color: white;
		position: absolute;
		display: none;

		padding: 0px;
		vertical-align: bottom;
	}


	#str span.capital{

		font-family: verdana;
		font-size: 3em;
		font-weight: bold;
	}

	#str span.rest{

		font-family: verdana;
		font-size: 1.5em;
		font-weight: bold;
	}